<link href="~/Content/listings.css" rel="stylesheet" type="text/css" />
@for(int i = 0; i < 10; i++)
{
<div class="listing">
    <div class="listing_picture">&nbsp;</div>
    <div class="listing_content">
        <div class="listing_title">title</div>
        <div class="listing_description">description</div>
        <div class="listing_price">price</div>
        <div class="listing_contact">contact</div>
    </div>
    <div class="clear_float"></div>
</div>
}
