<script type="text/javascript">
    mixpanel.track('Search Results Page Load');
</script>

@{
    ViewBag.Title = "Cranky Jane's";
}
@section featured {
    
    <div class="listing_picture"></div><div class="listing_content">akdsjfadsf</div>


}
