.listing {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}
.listing_picture {
    background-image: url("/Images/textbook.png");
    background-position: center top;
    background-repeat: no-repeat;
    float: left;
    min-height: 200px;
    width: 20%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.listing_content {
    width:80%;
    float:left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    padding:36px;
}
.listing_title {
    color: #98B709;
    font-size: 30px;
}
.listing_price {
    color:#FF0000;
}
.clear_float {
    clear:both;
}

